# FastAPI specific
__pycache__/
.env

# Python
*.pyc
*.pyo
*.pyd
__pycache__/
*.egg-info/
dist/
build/
*.egg
*.egg-info
*.swp

# Virtual Environment
venv/
env/
ENV/

# IDEs and Editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Miscellaneous
.DS_Store
*.log
*.sqlite3

.space